# Start configuration added by Zim install {{{

# Must be initialised first
zmodule environment
zmodule input
zmodule utility

zmodule fzf

# Completions (deferred)
zmodule zsh-users/zsh-completions --fpath src
zmodule completion

# Performance helpers
zmodule mroth/evalcache
zmodule romkatv/zsh-defer --use degit

# Must be last, presentation layer
zmodule zsh-users/zsh-syntax-highlighting
zmodule zsh-users/zsh-history-substring-search
zmodule zsh-users/zsh-autosuggestions

# }}} End configuration added by Zim install
